.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #003245;
    height: 100%;
    position: relative;
    text-align: center;

    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .login-form {
            padding: 40px;
            background: #fff;
            width: 500px;
            box-shadow: 0 0 10px #ddd;
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
            }
        }
    }

     
    input{
        color: #003245;
    }
}

  #letra{
      color: #003245;
      font-size:40px;	
      margin-top: 0px;
      padding-bottom: 10px;
      text-align: left;
  }
  #letra2{
    color:  white;
    font-size:20px;	
    margin-top: 0px;
    padding-bottom: 10px;
    align-self: auto;
}
  #boton{
      background: #003245;
      width: 30%;
  }
  .img-thumbnail{
    border:600px ;
  
  }
.img-telef{
    margin: 10px;
}
  .example-full-width{
      width: 50%;
      

  }
  #panel{
          text-align: center;
          align-content: center;

  }
  #panelPrin{
    padding-top: 8%; 

  }
  #Consultar{
     text-align: center;
  }