
<div class="mat-elevation-z8">  
        <app-form1></app-form1>
     
        <div class="mb-20"  flFlex flexLayout="row" flexLayout.lt-md="column">
            <div fxFlex>
                <table width="115px" mat-table [dataSource]="this.historial.dataTable" >
                    <ng-container matColumnDef="elemento">
                        <th mat-header-cell *matHeaderCellDef> Elemento </th>
                        <td mat-cell *matCellDef="let element"> {{element.elemento}} </td>
                    </ng-container>
                    <ng-container matColumnDef="planta">
                        <th mat-header-cell *matHeaderCellDef> Planta </th>
                        <td mat-cell *matCellDef="let element"> {{element.planta}} </td>
                    </ng-container>
                    <ng-container matColumnDef="hostname">
                        <th mat-header-cell *matHeaderCellDef> Hostname </th>
                        <td mat-cell *matCellDef="let element"> {{element.hostname}} </td>
                    </ng-container>
                    <!--<ng-container matColumnDef="summary">
                            <th mat-header-cell *matHeaderCellDef> Summary </th>
                            <td mat-cell *matCellDef="let element"> {{element.summary}} </td>
                    </ng-container>  -->
                    <ng-container matColumnDef="zona">
                        <th mat-header-cell *matHeaderCellDef> Zona </th>
                        <td mat-cell *matCellDef="let element"> {{element.zona}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="cantidad">
                                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                    </ng-container>    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 

        </div>
</div>


