table {
    width: 100%;
}
.mat-card {
    text-align: center;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mat-elevation-z8{
    padding-top: 15%;
    background:#EDEBEA;
    width: 100%;

}
.mb-20 {
    margin-bottom: 20px;
    padding-top: 5%;
    width: 100%;
}


#tabla{
    background: #003245;
}
.mat-elevation-z8{
padding: 2%;
}
