.navbar{
    background: #003245;

}
.dropdown-item{
    background: #003245;
    color: #fff;
}
.dropdown-menu{
    background: #003245;

}
.dropdown{
    margin: 10px;
}
.navbar-nav {
    padding-left: 0%;
}
:host {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.nav-brand {
    width: 215px;
    text-align: center;
}
.topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
}

.nav-spacer {
    flex: 1 1 auto;
}
mat-icon{
    color: white;
}

.visible-md {
    display: none;
}
.visible-sm {
    display: none;
}
@media screen and (max-width: 992px) {
    .visible-md {
        display: block;
    }
}
mat-nav-list{
    padding-top: 0%;
}
#dropdown{
    margin: 0%;
}
@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
        position: absolute;
    }
}
@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}
#letraMenu{
    color: white;
    font-size:15px;	
    margin-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    margin: 20px;
}
.sidenav-container {
    height: 100%;
}
.mat-list-item{
    color: white;
}
.sidenav {
    width: 250px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}
#letra{
    color: white;
    font-size:20px;	
    margin-top: 0px;
    padding-bottom: 10px;
}

#letraSub{
    color: white;
    font-size: 12px;	
    margin-top: 0px;
    padding-bottom: 10px;
}
#Portada {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
  }
#Fondo-Portada {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }

  .sidenav-icon {
    text-decoration: none;
    padding: 0 10px;
}