<mat-nav-list>
<nav class="navbar navbar-expand-lg navbar-light">
        <a class="nav-link" [routerLink]="['/carousel']"> <img  width="115px" height="40px" margin="40px"  src="../../assets/TELEFONIC.jpg"  class="img-telef"  ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li id="dropdown" class="nav-item dropdown">
            <a mat-list-item [routerLinkActive]="'active'"    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h4 id="letraMenu">DASHBOARD</h4> 
            </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/dashboard']"><h1 id="letraSub">HISTORIAL</h1></a>
          <a class="dropdown-item" [routerLink]="['/screen1']"><h1 id="letraSub">ALARMAS</h1></a>
          <a class="dropdown-item" [routerLink]="['/screen2']"><h1 id="letraSub">TICKETS</h1></a>
        </div>
      </li>
      <li class="nav-item">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="">
                <h4 id="letraMenu">MANTENEDOR</h4> 
            </a>
      </li>
      <li class="nav-item">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="">
                <div>
                    <h4 id="letraMenu">ADMINISTRADOR DE USUARIO</h4> 
                </div>
            </a>
      </li>
    </ul>
  </div>
  <span class="nav-spacer"></span>
 
        <mat-icon>account_circle</mat-icon>
        <h4 id="letra">{{usuario}}</h4>

    <button mat-icon-button (click)="onLoggedout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</nav>
</mat-nav-list>

