<form  class="login-form" fxFlex  >
    
        <div class= "col-lg-8" id="panelPrin"  >
            <h1 id="letra">ALARMAS</h1>
            <hr class="my-4">
        </div>    
        <div class="row">
        <div class= "col-sm-3" id="panel"    >
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="form.zona" placeholder="Zona"  name="zona" >
            </mat-form-field>
        </div>
        <div class= "col-sm-3" id="panel"    >    
            <mat-form-field class="example-full-width">
                <input matInput  [(ngModel)]="form.planta"  placeholder="Planta" name="planta">
            </mat-form-field>
        </div>
        <div class= "col-sm-3" id="panel"    >
            <mat-form-field class="example-full-width">
                <input matInput  [(ngModel)]="form.elemento"  placeholder="Elemento" name="elemento">
            </mat-form-field>
        </div>
        <div id = "cons" class= "col-sm-8"    >
            <button id = "boton" mat-raised-button color="primary"  (click)="consultar()">
                    Consultar
            </button>
        </div>  
    </div>
</form>
