.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #003245;
    height: 100%;
    position: relative;
    text-align: center;

    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .login-form {
            padding: 40px;
            background: #fff;
            width: 500px;
            box-shadow: 0 0 10px #ddd;
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
            }
        }
    }

     

}
.Portada {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
  }
#Fondo-Portada {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  #letra{
      color: #003245;
      font-size:40px;	
      margin-top: 0px;
      padding-bottom: 10px;
  }
  #boton{
      background: #003245;
      width: 100px;
  }
  .img-thumbnail{
    border:600px ;
  
  }
.img-telef{
    margin: 10px;
}
  .example-full-width{
      width: 400px;
      

  }
