
    <div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <img  width="250px" height="100px"  src="../../assets/TELEFONIC.jpg"  class="img-telef"  >

        <form class="login-form" fxFlex  >
            <div class="text-center">
                <h1 id="letra">FALLAS TECNICAS MASIVAS</h1>
                <h1 id="letra">(FATEM)</h1>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="form.user" placeholder="Username"  name="user" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="example-full-width">
                        <input matInput  [(ngModel)]="form.password"  placeholder="Password"  type="password" name="password" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button  id = "boton" mat-raised-button color="primary" class="w-100" (click)="login()">
                        Login
                    </button>
                </div>
            </div>
            <div  *ngIf = "this.log.err!= null"  class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong *ngIf = "this.log.err==400">Usuario y/o Contraseña Invalidos. </strong> 
                    <strong *ngIf = "this.log.err==500">Error en el sistema. </strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    </button>
            </div>
            <!--<mat-spinner></mat-spinner>-->
        </form>
        
    </div>
    
