
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/Telefoni.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>