
<div class="mat-elevation-z8">  
    <app-form2></app-form2>
    <div class="mb-20"  flFlex flexLayout="row" flexLayout.lt-md="column">
        <div fxFlex>
            <table width="115px" mat-table [dataSource]="this.alarmas.dataTable" >
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaevento">
                    <th mat-header-cell *matHeaderCellDef> Fecha Evento </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaevento}} </td>
                </ng-container>
                <ng-container matColumnDef="gravedad">
                    <th mat-header-cell *matHeaderCellDef> Gravedad </th>
                    <td mat-cell *matCellDef="let element"> {{element.gravedad}} </td>
                </ng-container>
                <ng-container matColumnDef="zona">
                    <th mat-header-cell *matHeaderCellDef> Zona </th>
                    <td mat-cell *matCellDef="let element"> {{element.zona}} </td>
                </ng-container>
                <ng-container matColumnDef="elemento">
                        <th mat-header-cell *matHeaderCellDef> Elemento </th>
                        <td mat-cell *matCellDef="let element"> {{element.elemento}} </td>
                </ng-container>
                <ng-container matColumnDef="diagnostico">
                        <th mat-header-cell *matHeaderCellDef> Diagnostico </th>
                        <td mat-cell *matCellDef="let element" > {{element.diagnostico}} </td>
                </ng-container>
                <ng-container matColumnDef="planta">
                        <th mat-header-cell *matHeaderCellDef> Planta </th>
                        <td mat-cell *matCellDef="let element"> {{element.planta}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre Elemento </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="totalclientes">
                            <th mat-header-cell *matHeaderCellDef> Total_Clientes </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalclientes}} </td>
                </ng-container>    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[1, 5, 10]" showFirstLastButtons></mat-paginator> 
        </div>
    </div>
</div>
