<form  class="login-form" fxFlex  >
        <div class= "col-lg-8" id="panelPrin"  >
            <h1 id="letra">HISTORIAL</h1>
            <hr class="my-4">
        </div>    
        <div class="row">
        <div class= "col-sm-4" id="panel"    >
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="form.fecha_inicio"  value="" placeholder="Fecha Inicio"   type = "date" name="fecha_inicio" >
            </mat-form-field>
        </div>
        <div class= "col-sm-4" id="panel"    >    
            <mat-form-field class="example-full-width">
                <input matInput  [(ngModel)]="form.fecha_fin"  placeholder="Fecha Fin" value = "" type = "date" name="fecha_fin">
            </mat-form-field>
        </div>
        <div id = "Consultar" class= "col-sm-8"    >
            <button id = "boton" mat-raised-button color="primary"  (click)="consultar()">
                    Consultar
            </button>
        </div>  
    </div>
</form>
